/////////////////////
//////Brand color////
/////////////////////
$brand-theme: hsl(196, 100%, 27%) !default;
$brand-primary: hsl(195, 64%, 41%) !default;

/////////////////////
//////Accent Color////
/////////////////////
$brand-success: $brand-primary !default; //choose from brand-theme or brand-primary only
$brand-info: hsl(198, 100%, 46%) !default; //must be blue
$brand-alert: hsl(24, 100%, 50%); //must be yellow
$brand-profit: #00c9a7;
$brand-loss: hsl(0, 100%, 52%);

$brand-accent-1: hsl(186, 100%, 36%);
$brand-accent-2: #fac038;


///Product color (fixed cannot be changed)
$brand-fund: #B72e39;
$brand-stock: #3F42B5;
$brand-bond: #F5Ad00;
$brand-etf: #61c1c5;
$brand-map: #005071;
$brand-insurance: #00cb6c;
$brand-ndpms: #A9A9A9;

///grayscale Neutral color  
$black-7: #333333;
$black-6: #575757;
$black-5: #A4A1A1; //757575
$black-4: #D4D4D4; //D4D4D4
$black-3: #D9DDE2;
$black-2: #f0f0f0;
$black-1: #f7f7f7;

$black:#000;
$white:#fff;

// Default theme of the project //
/////////////////////
//////Options////
/////////////////////
$enable-flex: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;
$enable-message-background: false;

$enable-card-radius :true;
$enable-card-shadow :true;
$enable-card-border :false;
$enable-table-border :false;
$enable-radio-radius :true;

$enable-step-dot-align-left :true;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (xs: 0,
  sm: 576px,
  md: 768px, //ipad size
  lg: 992px,
  xl: 1200px // sm: 920px,//into mobile mode
  // md: 980px,
  // lg: 1080px,
  // xl: 1300px
);

$grid-breakpoints: map-merge($grid-breakpoints,
  (xxl: 1580px));

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (sm: 900px,
  md: 960px,
  lg: 1024px,
  xl: 1280px);

$container-max-widths: map-merge($container-max-widths,
  (xxl: 1520px));

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width-base: 30px;
$grid-gutter-widths: (xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base * 2);
$grid-gutter-widths: map-merge($grid-gutter-widths,
  (xxl: $grid-gutter-width-base * 4));

// Spacing
$spacer: 1rem;
$spacers: ();
$spacers: map-merge((0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 3.5)),
  $spacers);

// Body
$body-bg: $black-1;
$body-color: $black-7;


// Links
$link-color: $brand-info;
$link-decoration: none;
$link-hover-color: css-lightness($link-color, -15%); //darken
$link-hover-decoration: underline;
$link-active: css-lightness($link-color, -20%); //darken

// Disabled Color
$disabled-color: $black-5;
$disabled-bg: $black-2;

//Box shadow

$component-shadow: 0px 0px 8px 0 rgba($black, 0.07); //card-shadow
$component-active-color: rgba($brand-info, .07);
$component-hover-color: rgba($brand-info, .05);

/////////////////////
//////Fonts////
/////////////////////


$font-family-sans-serif: Lato,
-apple-system,
BlinkMacSystemFont,
"Segoe UI",
"PingFang SC",
"Hiragino Sans GB",
"Microsoft YaHei",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;
$font-family-monospace: Menlo,
Monaco,
Consolas,
'Liberation Mono',
'Courier New',
monospace;
$font-family-base: $font-family-sans-serif;
$font-family-heading: "Lato",
-apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
'Helvetica Neue',
Arial,
sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.25;


//all font size MUST use this 7 variables.
$font-size-base: 14px;
$font-size-xxl: $font-size-base+16px; //30px 
$font-size-xl: $font-size-base+12px; //26px
$font-size-lg: $font-size-base+4px; //18px
$font-size-md: $font-size-base+2px; //16px
$font-size-sm: $font-size-base - 2px; //12px //small
$font-size-xs: $font-size-base - 3.6px; //10.4px //micro

//small
$font-size-sm-color : $body-color;
$font-size-sm-weight : $font-weight-normal;
//micro
$font-size-xs-color : $body-color;
$font-size-xs-weight : $font-weight-normal;

$display1-size: 48px;
$display2-size: 60px;
$display1-weight: $font-weight-normal;
$display2-weight: $font-weight-light;
$display1-color: $body-color;
$display2-color : $body-color;

$text-muted: $black-4;

//heading, h1 to h6.

$heading-color-h1: $body-color;
$heading-color-h2: $body-color;
$heading-color-h3: $body-color;
$heading-color-h4: $body-color;
$heading-color-h5: $body-color;
$heading-color-h6: $body-color;

$heading-weight-h1: $font-weight-bold;
$heading-weight-h2: $font-weight-bold;
$heading-weight-h3: $font-weight-bold;
$heading-weight-h4: $font-weight-bold;
$heading-weight-h5: $font-weight-bold;
$heading-weight-h6: $font-weight-semibold;

$heading-size-h1: $font-size-xxl+6px; //36px
$heading-size-h2: $font-size-xl+6px; //32px
$heading-size-h3: $font-size-xl+2px; //28px
$heading-size-h4: $font-size-xl - 4px; //22px
$heading-size-h5: $font-size-lg+1px; //19px
$heading-size-h6: $font-size-md - 1px; //15px
//font-size: follow font-size base. cannot be changed. refer to _fonts.scss


// Border
//
// Define border properties
$border-color: $black-4;
$border-radius: 8px;
$border-radius-lg: 50px;
$border-radius-sm: 5px;
$border-radius-xs: 3px;
$border-radius-circle: 50%;
$border-width: 1px;


// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius-lg;
$btn-border-radius-lg: $border-radius-lg;
$btn-border-radius-sm: $border-radius-lg;

$btn-transition: all 0.2s ease-in-out;
/////////////////////
//////Button////
/////////////////////
$btn-with-gradient: true;
$btn-gradient-start-color: $brand-primary !default;
$btn-gradient-end-color: $brand-theme !default;

$btn-primary: $brand-theme;
$btn-highlight: $brand-primary;
$btn-font-size: $font-size-md - 1px;
$btn-font-size-lg: $font-size-md;
$btn-font-size-sm: $font-size-sm+1px;

$btn-line-height: 1.25;
$btn-font-weight: $font-weight-bold;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15),
0 1px 1px rgba($black, .075);
$btn-focus-box-shadow: 0 0 0 2px rgba($brand-primary, .25);
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125);

$btn-primary-color: $white;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $btn-primary-bg;

$btn-primary-hover-bg: $brand-primary;
$btn-primary-hover-border-color: $brand-primary;

$btn-default-color: $black-6;
$btn-default-bg: $white;
$btn-default-border: $border-color;
$btn-default-hover-color: $body-color;
$btn-default-hover-border: transparent;
$btn-default-hover-bg: $disabled-bg;

$btn-disable-color : $disabled-color;
$btn-disable-bg: $disabled-bg;
$btn-disable-border: $border-color;
$btn-text-transform: initial;

//////Button Border Width////
$btn-border-width: $border-width+1px;

//////Button Size////
$btn-height-base: 40px;
$btn-line-height-base: $btn-height-base - $btn-border-width*2;
$btn-height-lg: 52px;
$btn-line-height-lg: $btn-height-lg - $btn-border-width*2;
$btn-height-sm: 32px;
$btn-line-height-sm: $btn-height-sm - $btn-border-width*2;
$btn-height-highlight: 60px;
$btn-line-height-highlight: $btn-height-highlight - $btn-border-width*2;

$btn-padding-base: 24px;
$btn-padding-lg: 30px;
$btn-padding-sm: 15px;
$btn-padding-highlight: 40px;

$btn-block-spacing-y: .5rem;
$btn-toolbar-margin: .5rem;


//////Button Link ////
$btn-link-color: $brand-theme;
$btn-link-disabled-color: $black-5;
$btn-link-hover-bg: $black-2;
$btn-link-weight: $btn-font-weight;
$btn-outline-hover-bg: $brand-theme;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

//header
$table-header-color : $black-7;
$table-header-bg : white;
$table-header-border-bottom: 2px solid $black-7;
$table-header-font-weight: 600;
$table-header-icon-color: #fff;
$table-header-icon-selected-color:#ccc;
$table-header-filter-active-color:$black-5;
$table-header-sort-bg:$table-header-bg;
$table-header-sort-active-bg: css-lightness($table-header-bg, -3%); //darken
$table-header-filter-active-bg: css-lightness($table-header-sort-active-bg, -5%); //darken
$table-header-sort-active-color:$black-5;

//body
$table-color: $body-color;
$table-default-background:#fff;
$table-border-radius-base: $border-radius;
$table-row-hover-bg : $black-1;
$table-selected-row-color :$black-4;
$table-selected-row-bg:$black-1;
$table-selected-row-hover-bg:$black-2;
$table-body-sort-bg :$black-2;
$table-body-selected-sort-bg: $black-2;
$table-row-expand-icon-size: 1.0625rem;

//padding
$table-padding-vertical : 12px;
$table-padding-horizontal: 8px;

//footer
$table-footer-color : $black-6;
$table-footer-bg: $black-3;

//border
$border-width-base : 1px;
$border-style-base : solid;
$border-color-split: $black-3;

//size
$table-font-size: $font-size-base;
$table-font-size-xs: $font-size-sm;
$table-font-size-sm: $font-size-base -1;
$table-padding-vertical-md: $table-padding-vertical * 3 / 4;
$table-padding-horizontal-md: $table-padding-horizontal / 2;
$table-padding-vertical-sm: $table-padding-vertical / 2;
$table-padding-horizontal-sm: $table-padding-horizontal / 1.8;


// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.
$state-success-text: $brand-success;
$state-success-bg: white;
$state-success-border: $border-color;

$state-info-text: $brand-info;
$state-info-bg: rgba($brand-info, 0.05);
$state-info-border: $brand-info;

$state-warning-text: $brand-bond;
$state-warning-bg: rgba($brand-bond, 0.1);
$state-warning-border: $brand-bond;

$state-danger-text: $brand-loss;
$state-danger-bg: rgba($brand-loss, 0.05);
$state-danger-border: $brand-loss;

$mark-bg: $state-warning-bg;
$alert-padding-x: 14px;
$alert-padding-y: 8px;
$alert-border-radius: $border-radius-sm;
$alert-text-color: $black-7;
$alert-shadow-color: rgba(0, 0, 0, 0.07);
$alert-icon-size: 20px;
$alert-padding-w-icon: $alert-icon-size+$alert-padding-y+10px;
$alert-text-message-size: $font-size-base - 1px;
$alert-text-message-size-with-description: $font-size-md;

$alert-loop: (ant-alert-success $state-success-bg $state-success-text $state-success-border,
  ant-alert-info $state-info-bg $state-info-text $state-info-border,
  ant-alert-warning $state-warning-bg $state-warning-text $state-warning-border,
  ant-alert-error $state-danger-bg $state-danger-text $state-danger-border);

//Message
//
//
$message-padding-x: 0.625rem;
$message-padding-y: 1rem;
$message-font-size: $font-size-base;
$message-border-radius: $border-radius;

// Forms
//
// Form elements config
$form-default-line-height: 1;

$input-line-height: 1.5;
$input-bg: $white;
$input-bg-disabled: $black-2;
$input-color: $black-6;
$input-border-color: $border-color;
$input-btn-border-width: $border-width; // For form controls and buttons
$input-box-shadow: inset 0 1px 1px rgba($black, 0.075);
$input-bg-focus: $input-bg;
$input-border-focus: $brand-primary;
$input-bg-placeholder: $white;
$input-box-shadow-focus: 0 0 0 2px rgba($input-border-focus, 0.6);
$input-color-focus: $input-color;
$input-color-placeholder: $black-5;
$input-error-color: $state-danger-text;
$input-warning-color: $state-warning-text;
$input-success-color: $state-success-text;
//input defaukt
$input-padding-x: 16px;
$input-padding-y: 8px;
$input-font-size-base: $font-size-base;
$input-height-base: $btn-height-base;
$input-border-radius: $border-radius-sm;

//input lg
$input-padding-x-lg: 20px;
$input-padding-y-lg: 10px;
$input-placeholder-lg-translateX: $input-padding-x-lg+8px;
$input-font-size-lg: $font-size-base;
$input-height-lg: $btn-height-lg;
$input-border-radius-lg: $border-radius-lg;

$textarea-min-height: 2rem; //32px

$checkbox-theme-color: $brand-theme;
$checkbox-font-size: $font-size-base;
$checkbox-width-height: 1.25rem;
$checkbox-line-height: 1;
$checkbox-top-adjust: -0.09em;
$checkbox-position-left: .25rem;
$checkbox-position-top: .4375rem;
$checkbox-disable-bg: $black-2;

$radio-solid-bg: $body-bg;
$radio-theme-color: $brand-theme;
$solid-radio-with-gradient: true;
$solid-radio-gradient-start-color: $brand-primary;
$solid-radio-gradient-end-color: $radio-theme-color;
$radio-font-size: $font-size-md;
$radio-width-height: 1.25rem;
$radio-gutter: 0.625rem;
$radio-dot-size: 0.625rem;
$radio-position-left: 0.1875rem;
$radio-position-top: 0.1875rem;
$radio-disable-bg: $black-2;

$switch-theme-color: $brand-primary;
$switch-height: 25px;
$switch-min-width: $switch-height * 2;
$switch-size: $switch-height - 4px;
$switch-font-size: $switch-height - 10px;
$switch-loading-size: $switch-size - 6px;

$upload-theme-color: $brand-info;
$upload-picture-size: 110px;
$upload-thumbnial-size: 48px;
$upload-picture-bg: #fafafa;
$upload-picture-gutter: 10px;
$upload-list-hover: $black-1;

$switch-height-sm: 15px;
$switch-min-width-sm: $switch-height-sm * 2;
$switch-size-sm: $switch-height-sm - 4px;
$switch-loading-size-sm: $switch-size-sm - 3px;

$rate-font-size: 1.25rem;
$rate-color: $brand-alert;


//select
//
//select element config
$select-border-color : $input-border-color;
$select-border-focus: $brand-primary;
$select-bg-focus: $input-bg;
//select default size
$select-height: $btn-height-base;
$select-font-size-base: $input-font-size-base;
$select-padding-x: $input-padding-x;
$select-padding-y: $input-padding-y;

$select-height-lg: $btn-height-lg;
$select-font-size-lg: $input-font-size-lg;

$select-dropdown-item-selected: #fafafa;
$select-dropdown-item-hover: css-lightness($select-dropdown-item-selected, -3%); //darken

// Progress
//
//
$progress-height: 1rem;
$progress-font-size: 0.75rem;
$progress-font-color: $brand-profit;
$progress-bg: $black-3;
$progress-border-radius: $border-radius;
$progress-box-shadow: inset 0 0.1rem 0.1rem rgba($black, 0.1);
$progress-bar-color: $white;
$progress-bar-bg: $brand-accent-1;

// Cards

// $card-shadow: 0px 0px 8px 1px rgba($black, 0.07);
$card-shadow: $component-shadow;
$card-padding: 24px;
$card-border-radius: $border-radius;
$card-border-color: $border-color;
$card-head-bg: $white;
$card-bg: $white;
$card-head-min-height: 48px;
$card-head-font-size: $font-size-md;
$card-head-color: $black-6;
$card-head-font-weight: $font-weight-semibold;
$card-head-padding: 18px;
$card-hover-shadow: 0px 5px 9px 2px rgba($black, 0.08);
$card-hover-border: $border-color;
$card-inner-head-padding: 18px;
$card-inner-head-bg: $black-2;
$card-head-bottom-border-style: 1px solid $card-inner-head-bg;
$card-inner-head-font-size: $font-size-base;
$card-action-bg: $black-2;
$card-img-overlay-padding: 1.25rem;
$card-meta-color:$black-3;
$card-extra-color:$body-color;
$card-extra-font-size:$font-size-base;

//card small
$card-head-min-height-sm:36px;
$card-padding-sm: 12px;
$card-head-padding-sm: $card-head-padding / 2;
$card-head-font-size-sm: $font-size-base;


// List
//
//
$list-spacer-x: 1.5rem;
$list-spacer-y: 1rem;
$list-spacer-x-sm: 1rem;
$list-spacer-y-sm: 0.5rem;
$list-spacer-x-lg: 1.5rem;
$list-spacer-y-lg: 2rem;
$list-item-title-color: $black-6;
$list-item-title-hover: $brand-primary;
$list-header-background: $black-1;
$list-footer-background: $black-1;

// Timeline
//
//
$timeline-gutter: 1.25rem;
$timeline-line-color: #ececec;
$timeline-dot-size: 0.625rem;
$timeline-dot-bg: $white;

// Calendar
//
// Define Calendar Spacing
$calendar-date-x: 2rem;
$calendar-date-y: 2rem;
$calendar-date-line-height: 2rem - 0.125rem;

$full-calendar-border: $black-2;
$full-calendar-color: $body-color;
$full-calendar-background: $black-2;
$full-calendar-value-size: 1.5rem;
$full-calendar-cell-height: 54px;
$full-calendar-theme-color: $brand-primary;
$full-calendar-selected-bg: $black-3;

// Slider
//
// Define Slider Properties
$slider-height: 0.75rem;
$slider-gutter: 0.9375rem 0.3125rem;
$slider-rail-bg: $black-2;
$slider-rail-height: 0.3125rem;
$slider-rail-radius: $border-radius-sm;
$slider-track-height: 0.3125rem - 0.0625rem;
$slider-theme-color: $brand-primary;
$slider-ticker-size: 1.125rem;
$slider-dot-size: 0.5rem;
$slider-ticker-top-adjust: -0.4375rem;
$slider-ticker-left-adjust: -0.4375rem;
$slider-hover-opacity: 0.8;

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-bg: $white;
$dropdown-bg-hover: $black-1;
$dropdown-border-color: $border-color;
$dropdown-item-text: $black-6;
$dropdown-item-text-hover: $black-7;
$dropdown-padding-y: 0.5rem;
$dropdown-padding-x: 1.25rem;
$dropdown-margin: 0.625rem;
$dropdown-min-width: 5rem;
$dropdown-max-height: 15.625rem;

// Menu
//
// Define colors theme color for menu
$menu-dark-bg: $brand-theme;
$menu-dark-bg-sub: $brand-theme;
$menu-dark-text: $white;

// Collapse
//
//
$collapse-border: $border-color;
$collapse-bg: #fafafa;
$collapse-header-spacing: 18px 1rem;
$collapse-header-color: $body-color;
$collapse-content-spacing: 1rem;

// Tabs
//
//
$tabs-font-size: $font-size-md;
$tabs-theme-color: $brand-theme;
$tabs-border: $border-color;
$tabs-border-width: $border-width+1.1;
$tabs-gap: 1.5rem;
$tabs-arrow-color: $body-color;
$tabs-arrow-color-hover: $black-4;
$tabs-arrow-width: 2rem;
$tabs-toggler-padding-x: 1.5rem;
$tabs-toggler-padding-y: 0.75rem;
$tabs-toggler-sm: 0.8125rem;
$tabs-toggler-lg: 1rem;
$tabs-toggler-color: $body-color;
$tabs-card-toggler-bg: $black-5;
$tabs-active-font-weight: 600;

// Tabs Card
//
//
$tabs-card-head-background: rgba($white, 0.75);
$tabs-card-head-color: $black-6;
$tabs-card-height: 48px;
$tabs-card-active-color:$white;
$tabs-card-active-background: $brand-theme;
$tabs-card-gutter: 0;
$tabs-card-tab-active-border-top: 2px solid transparent;
$tabs-card-padding : 30px;
$tabs-card-border-radius :0;
$tabs-card-border: 0;



// Popover & Tooltips
//
//
$popover-placement-gutter: 0.625rem;
$popover-shadow: 0 2px 8px css-alpha($black, 0.15);
$tooltip-placement-gutter: 0.5rem;
$tooltip-bg: rgba($black-7, 0.95);
$tooltip-color : white;
$tooltip-size : $font-size-sm;
$tooltip-line-height: $line-height-base;
$tooltip-radius : $border-radius;
$tooltip-shadow: 0 3px 8px rgba($black-5, 0.15);
$tooltip-padding-x-y: 6px 12px;

// Modal
//
// Padding applied to the modal body
$modal-title-font-size: $font-size-xl - 4px;
$modal-title-font-weight: $font-weight-bold;
$modal-font-size: $font-size-md;
$modal-content-bg: $white;
$modal-content-shadow: 0 4px 12px rgba($black, 0.15);
$modal-header-padding: $card-padding $card-padding $card-padding-sm $card-padding;
$modal-border-radius: $border-radius;
$modal-body-padding: $card-padding-sm $card-padding $card-padding $card-padding;
$modal-footer-padding: $card-padding-sm $card-padding;
$modal-top: 50px;
$modal-mask: rgba(0, 0, 0, .4);

// Avatar
//
// Define avatar size & default background
$avatar-bg: #ccc;
$avatar-size: 2.3rem;
$avatar-size-sm: 0.875rem;
$avatar-size-lg: 3.25rem;
$avatar-icon: 1.125rem;
$avatar-icon-sm: 0.875rem;
$avatar-icon-lg: 1.5rem;


// Loading
//
//
$loading-color: $black-6;

// Badge
//
// Define Badge size & colors
$badge-count-bg: #ff6600;
$badge-count-height: 1.25rem;
$badge-count-font-size: $font-size-sm;
$badge-dot-size: 0.4375rem;
$badge-dot-processing-bg: $brand-info;

// Steps
//
// Define Steps theme colors
$step-theme-colors: $brand-theme;
$steps-border-color: $border-color;
$step-border: $border-width solid $border-color;
$step-horizontal-title-size: $font-size-base;
$steps-icon-size: 24px;
$steps-icon-font-size: $font-size-base;
$step-verticle-title-size: 16px;

$steps-wait-color: $body-color;

$step-process-bg-color: $step-theme-colors;
$step-process-border-color: $step-theme-colors;
$step-process-title-color: $black-7;
$step-process-title-font-weight: $font-weight-bold;
$step-process-desc-color: $body-color;

$step-finish-border-color: $step-theme-colors !important;
$step-finish-bg-color: $step-theme-colors;
$step-finish-icon-color: $white;

$step-dot-content-width: 90%;

//Mini version step
$steps-small-icon-size: 16px;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$zindex-default: 990;
$zindex-dropdown-backdrop: 990;
$zindex-navbar: 1000;
$zindex-dropdown: 1000;
$zindex-fixed: 1030;
$zindex-sticky: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;



// Breadcrumb
$breadcrumb-font-family: $font-family-base;
$breadcrumb-line-height: $line-height-base;
$breadcrumb-color: $body-color;
$breadcrumb-font-size: $font-size-base;

// Drawer
$drawer-title-color: $body-color;
$drawer-title-font-weight: $font-weight-semibold;
$drawer-title-font-size: $font-size-md;
$drawer-padding-y: $card-padding - 10px;
$drawer-padding-x: $card-padding;

// Tag
$tag-font-family: $font-family-base;
$tag-font-size: $font-size-sm;
$tag-border-radius: $border-radius-sm;
$tag-padding-x: 7px;
$tag-padding-y: 0;
$tag-line-height: $line-height-base;
$tag-gutter-size: 5px;

$pagination-item-bg-active: $brand-theme;
$pagination-item-color-active: $white;


// Anchor
$anchor-background: transparent;

//MOBILE VARIABLE


$m-fill-mask :rgba(0, 0, 0, 0.4);
$m-fill-base: white;
$m-fill-tap: $border-color;
// 图标尺寸
// ---
$m-icon-size-xxs: 15px;
$m-icon-size-xs: 18px;
$m-icon-size-sm: 21px;
$m-icon-size-md: 22px; // 导航条上的图标、grid的图标大小
$m-icon-size-lg: 36px;
// 间距
// ---
// 水平间距
$m-h-spacing-sm: 5px;
$m-h-spacing-md: 8px;
$m-h-spacing-lg: 15px;

// 垂直间距
$m-v-spacing-xs: 3px;
$m-v-spacing-sm: 6px;
$m-v-spacing-md: 9px;
$m-v-spacing-lg: 15px;
$m-v-spacing-xl: 21px;

$m-radius-circle: 50%;
$m-hairline-color: $border-color;
$m-color-icon-base: $black-2;
//delete thi file and move to _variables.scss after done developing


//Mobile Componenets
//$carousel
$m-carousel-font-size: $font-size-base;
$m-carousel-font-color: $white;
$m-carousel-background: $brand-theme;


//list
$m-list-header-font-size: $font-size-base;
$m-list-header-color: $body-color;
$m-list-item-padding: 15px;
$m-list-item-color: $black;
$m-list-item-font-size: $font-size-base;
$m-list-item-line-height: 1.5;
$m-list-item-extra-font-size: $heading-size-h6;
$m-list-item-extra-color: $black-6;
$m-list-item-min-height: 60px;

$m-list-item-brief-color:$black-6;
$m-list-item-brief-font-size: $font-size-sm;
$m-list-item-brief-line-height: 1.5;

$m-list-item-img-width: 24px;
$m-list-item-img-height: auto;
$m-list-box-shadow: 0 1px 5px 0px rgba(189, 189, 189, 0);
$m-list-border-radius: $border-radius-xs;

//nav-bar

$m-navbar-height: 50px;
$m-navbar-color:white;
$m-navbar-background-color: $brand-theme;
$m-navbar-link-button-font-size: $font-size-base;

$m-navbar-size: $font-size-md;
$m-navbar-font-weight: $font-weight-semibold;
$m-navbar-light-background-color: $white;
$m-navbar-light-color:$brand-primary;


//tabs
$m-tabs-color: $brand-primary;
$m-tabs-height: 43.5px;
$m-tabs-font-size-heading: 15px;
$m-tabs-ink-bar-height: $border-width;

//tabs bar
$m-tabs-bar-color: $brand-primary;

//picker
$m-picker-popup-item-color: $brand-primary;
$m-picker-popup-item-font-size: $font-size-sm;
$m-picker-option-height: 34px;
$m-picker-popup-item-height: 42px;
$m-picker-popup-title-color: #000;
$m-picker-popup-title-font-size:$font-size-sm;

//modal
$m-modal-btn-height: 50px;
$m-modal-btn-font-size: $font-size-base;

//calendar
$m-calendar-cell-size: 35px;

//all mobile font size MUST use this 7 variables.
$m-font-size-base: $font-size-base - 1px; //13px
$m-font-size-xxl: $font-size-xxl;
$m-font-size-xl: $font-size-xl - 1px; //25px
$m-font-size-lg: $font-size-lg - 2px; //16px
$m-font-size-md: $font-size-md - 1px; //15px
$m-font-size-sm: $font-size-sm; //12px
$m-font-size-xs: $font-size-xs; //10.4px

$m-heading-size-h1: $heading-size-h1 - 6px; //30px
$m-heading-size-h2: $heading-size-h2 - 4px; //28px
$m-heading-size-h3: $heading-size-h3 - 3px; //25px
$m-heading-size-h4: $heading-size-h4 - 4px; //18px
$m-heading-size-h5: $heading-size-h5 - 3px; //16px
$m-heading-size-h6: $heading-size-h6; //15px