/////////////////////
//////Options////
/////////////////////
$enable-flex: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;
$enable-message-background: false;

$enable-card-radius :true;
$enable-card-shadow :true;
$enable-table-border :false;
// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 920px,//into mobile mode
  md: 980px,
  lg: 1080px,
  xl: 1300px
);

$grid-breakpoints: map-merge(
  $grid-breakpoints,
  (
    xxl: 1580px
  )
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 900px,
  md: 960px,
  lg: 1024px,
  xl: 1280px
);

$container-max-widths: map-merge(
  $container-max-widths,
  (
    xxl: 1520px
  )
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width-base: 15px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);
$grid-gutter-widths: map-merge(
  $grid-gutter-widths,
  (
    xxl: $grid-gutter-width-base
  )
);

// Spacing
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: (
      $spacer * 0.25
    ),
    2: (
      $spacer * 0.5
    ),
    3: $spacer,
    4: (
      $spacer * 1.5
    ),
    5: (
      $spacer * 3
    ),
    6: (
      $spacer * 3.5
    )
  ),
  $spacers
);


/////////////////////
//////Brand color////
/////////////////////
$brand-theme:               #015575!default;
$brand-primary:             #2380a3!default;

/////////////////////
//////Accent Color////
/////////////////////
$brand-success:             $brand-primary; //choose from brand-theme or brand-primary only
$brand-info:                #1d5d97!default; //must be blue
$brand-alert:               #FF6600;  //must be yellow
$brand-profit:              #10BDA8;
$brand-loss:                #FF3B49;
$brand-profit-bg:           $brand-profit;
$brand-loss-bg:             $brand-loss;

$brand-accent-1:             #00A7B8;
$brand-accent-2:             #FABF3A;

///Product color (fixed cannot be changed)
$brand-fund:            #B72e39;
$brand-stock:           #3F42B5;
$brand-bond:            #F5Ad00;
$brand-etf:             #61c1c5;
$brand-map:             #005071;
$brand-insurance:       #00cb6c;
$brand-ndpms:           #A9A9A9;
$brand-dpms-cash:       #4F738C;
$brand-research:        $brand-profit;

///grayscale Neutral color  
$black-7: #111418; //2E353D
$black-6: #424B57;
$black-5: #6A7584;
$black-4: #CBD0D7;
$black-3: #EBEDF0;
$black-2: #f0f0f0;
$black-1: #F3F3F3;

$black:#000;
$white:#fff;

// Body
$body-bg: $black-1; 
$body-color: $black-7; 



// Links
$link-color:                $brand-info; 
$link-decoration:           none;
$link-hover-color:          css-lightness($brand-info, -10%);
$link-hover-decoration:     underline;
$link-active:               css-lightness($brand-info, -10%);

// Disabled Color
$disabled-color: $black-4; 
$disabled-bg: $black-2; 


//Componenet
$component-shadow: 0px 4px 10px 0 rgba(0,0,0,0.08) !important;
//$component-active-color: ($brand-accent-1, 60%);
//$component-hover-color: ($brand-info, 51%);

$component-active-color: $black-2;
$component-hover-color: $black-3;
$component-selected-color: css-lightness($brand-info, 60%)!default;


/////////////////////
//////Fonts////
/////////////////////


$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-family-heading: -apple-system, BlinkMacSystemFont, Roboto, Helvetica , Arial, sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.4;


//all font size MUST use this 7 variables.
// $font-size-base: 16px; // h5
// $font-size-xxl: $font-size-base + 28px; // 44px // h1
// $font-size-xl: $font-size-base + 16px;  // 32px  // h2
// $font-size-lg: $font-size-base + 8px;   // 24px  // h3
// $font-size-md: $font-size-base + 3px;   // 19px  // h4
// $font-size-sm: $font-size-base - 2px;   // 14px  //small
// $font-size-xs: $font-size-base - 4px;   // 12px  // h6 //micro

//small
$font-size-sm-color : $body-color;
$font-size-sm-weight : $font-weight-normal;

//micro
$font-size-xs-color : $body-color;
$font-size-xs-weight : $font-weight-normal;

$display1-size: 48px;
$display2-size: 60px;
$display1-weight: $font-weight-normal;
$display2-weight: $font-weight-light;
$display1-color:  $body-color;
$display2-color : $body-color;

$text-muted: $black-3;

//heading, h1 to h6.

$heading-color-h1:   $body-color;
$heading-color-h2:   $body-color;
$heading-color-h3:   $body-color;
$heading-color-h4:   $body-color;
$heading-color-h5:   $body-color;
$heading-color-h6:   $body-color;

$heading-weight-h1: $font-weight-bold;
$heading-weight-h2: $font-weight-bold;
$heading-weight-h3: $font-weight-bold;
$heading-weight-h4: $font-weight-bold;
$heading-weight-h5: $font-weight-bold;
$heading-weight-h6: $font-weight-bold;

$heading-size-h1: $font-size-xxl;
$heading-size-h2: $font-size-xl;
$heading-size-h3: $font-size-lg;
$heading-size-h4: $font-size-md;
$heading-size-h5: $font-size-base;
$heading-size-h6: $font-size-xs;
//font-size: follow font-size base. cannot be changed. refer to _fonts.scss


// Border
//
// Define border properties
$border-color: $black-4;
$border-radius: 10px;
$border-radius-lg: 20px;
$border-radius-sm: 5px; // border-radius for input box and etc
$border-radius-xs: 3px;
$border-radius-circle: 50%;
$border-width: 1px;


// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius-lg;
$btn-border-radius-lg: 40px;
$btn-border-radius-sm: $border-radius-lg;

$btn-transition: all 0.2s ease-in-out;
/////////////////////
//////Button////
/////////////////////
$btn-with-gradient:              true;
$btn-gradient-start-color:       $brand-primary!default;
$btn-gradient-end-color:         $brand-info!default;

$btn-primary:                    $brand-primary;
$btn-highlight:                  $brand-primary;
$btn-font-size:                  $font-size-sm;
$btn-font-size-lg:               $font-size-base;
$btn-font-size-sm:               $font-size-xs;
$btn-line-height:                1.25 !default;
$btn-font-weight:                $font-weight-normal !default;
$btn-box-shadow:                 0px 3px 12px 0px rgba($brand-primary, .5);
$btn-focus-box-shadow:           0 0 0 2px rgba($brand-primary, .25) !default;
$btn-active-box-shadow:          inset 0 3px 5px rgba($black,.125) !default;

$btn-primary-color:              $white !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             css-lightness($brand-primary, -5%)!default;

$btn-primary-hover-bg:                   $brand-primary;
$btn-primary-hover-border-color:         $brand-primary;

$btn-default-color:              $body-color !default;
$btn-default-bg:                 transparent !default;
$btn-default-border:             $black-4 !important;

$btn-default-hover-color:        $black-7;
$btn-default-hover-border:       $black-4;
$btn-default-hover-bg:           $black-4;

$btn-disable-color :             $disabled-color;
$btn-disable-bg:                 $disabled-bg;
$btn-disable-border:             $black-4;
$btn-text-transform:             capitalize;


////// Button Size ////
$btn-height-base:               40px;
$btn-height-lg:                 52px;
$btn-height-sm:                 34px;  
$btn-height-highlight:          60px;  

$btn-padding-base:              25px;
$btn-padding-lg:                40px;
$btn-padding-sm:                15px;
$btn-padding-highlight:         40px;  

$btn-block-spacing-y:            .5rem !default;
$btn-toolbar-margin:             .5rem !default;

////// Button Link ////
$btn-link-color:                 $black-7;
$btn-link-disabled-color:        $black-3 !default;
$btn-link-hover-bg:              $black-2 !default;
$btn-link-weight:                $btn-font-weight;

////// Icon Button ////
$icon-btn-size: 32px;
$icon-btn-gutter: 6px;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

//header
$table-header-color :  $black-7;
$table-header-bg : $black-1;
$table-header-border-bottom: 3px solid $brand-primary;
$table-header-font-weight: 600;
$table-header-icon-color: #fff;
$table-header-icon-selected-color:$brand-primary;
$table-header-filter-active-color:$black-5;
$table-header-sort-bg:$table-header-bg;
$table-header-sort-active-bg:css-lightness($table-header-bg, -5%);
$table-header-filter-active-bg:css-lightness($table-header-sort-active-bg, -5%);
$table-header-sort-active-color:$black-5;

//body
$table-color: $black-7;
$table-default-background:#fff;
$table-border-radius-base: 0;
$table-row-hover-bg : $component-selected-color;
$table-selected-row-color :$black-4;
$table-selected-row-bg:$black-3;
$table-selected-row-hover-bg:$component-selected-color;
$table-body-sort-bg :$black-2;
$table-body-selected-sort-bg: $black-2;
$table-row-expand-icon-size: 1.0625rem;



//footer
$table-footer-color : $black-5;
$table-footer-bg:  $black-3;

//border
$border-width-base : 1px;
$border-style-base : solid;
$border-color-split: $border-color;

//size
$table-font-size: $font-size-sm; //table normal font size
$table-font-size-sm: $font-size-sm - 1px;  //table middle font size
$table-font-size-xs: $font-size-xs; //table small font size
$table-padding-vertical : 12px;
$table-padding-horizontal: 8px;
$table-padding-vertical-md: 10px;
$table-padding-horizontal-md: 6px;
$table-padding-vertical-sm: 6px;
$table-padding-horizontal-sm: 6px;


// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.
$state-success-text: $brand-success;
$state-success-bg: white;
$state-success-border: $black-2;

$state-info-text: $brand-info;
$state-info-bg: white;
$state-info-border: $black-2;

$state-warning-text: $brand-alert;
$state-warning-bg: white;
$mark-bg: $state-warning-bg;
$state-warning-border: $black-2;

$state-danger-text: $brand-alert;
$state-danger-bg: white;
$state-danger-border: $black-2;

$alert-padding-x: 20px;
$alert-padding-y: 20px;
$alert-border-radius: $border-radius-sm;
$alert-text-color: $black-7;
$alert-shadow-color: rgba(0,0,0,0.1);
$alert-icon-size: 30px;
$alert-padding-w-icon: $alert-icon-size + $alert-padding-y +10px;
$alert-text-message-size: $font-size-sm;
$alert-text-message-size-with-description: $font-size-lg;

$alert-loop: (
  ant-alert-success $state-success-bg $state-success-text $state-success-border,
  ant-alert-info $state-info-bg $state-info-text $state-info-border,
  ant-alert-warning $state-warning-bg $state-warning-text $state-warning-border,
  ant-alert-error $state-danger-bg $state-danger-text $state-danger-border
);

//Message
//
//
$message-padding-x: 0.625rem;
$message-padding-y: 1rem;
$message-font-size: $font-size-base;
$message-border-radius: $border-radius;

// Forms
//
// Form elements config
$input-line-height:     1.5;
$input-bg: $white;
$input-bg-disabled: $black-2;
$input-color: $black-7;
$input-border-color: $black-4;
$input-btn-border-width: $border-width; // For form controls and buttons
$input-box-shadow: inset 0 1px 1px rgba($black, 0.075);
$input-bg-focus: $input-bg;
$input-border-focus: $brand-primary;
$input-bg-placeholder: $white;
$input-box-shadow-focus: 0 0 0 2px rgba($input-border-focus, 1);
$input-color-focus: $input-color;
$input-color-placeholder: $black-5;
$input-error-color: $state-danger-text;
$input-warning-color: $state-warning-text;
$input-success-color: $state-success-text;

//input default
$input-padding-x: 16px;
$input-padding-y: 8px;
$input-font-size-base: $font-size-sm;
$input-placeholder-font-size: $font-size-xs;
$input-placeholder-font-size-lg: $font-size-xs;
$input-height-base: $btn-height-base ;
$input-line-height-base: $input-height-base;
$input-border-radius: $border-radius-sm;

//input lg
$input-padding-x-lg: 20px;
$input-padding-y-lg: 10px;
$input-placeholder-lg-translateX: $input-padding-x-lg + 8px;
$input-font-size-lg:  $font-size-sm;
$input-height-lg:       $btn-height-lg;
$input-border-radius-lg: $border-radius-lg;

$form-default-font-size: $font-size-base;

$textarea-min-height: 2rem; //32px

$checkbox-theme-color: $brand-primary;
$checkbox-font-size: $font-size-sm;
$checkbox-width-height: 1.25rem;
$checkbox-line-height: 1;
$checkbox-top-adjust: -0.09em;
$checkbox-position-left: .25rem;
$checkbox-position-top: .4375rem;
$checkbox-disable-bg: $black-2;

$radio-theme-color: $brand-primary;
$radio-width-height: 1.25rem;
$radio-gutter: 0.625rem;
$radio-dot-size: 0.625rem;
$radio-position-left: 0.1875rem;
$radio-position-top: 0.1875rem;
$radio-disable-bg: $black-4;

$switch-theme-color: $brand-primary;
$switch-height: 25px;
$switch-min-width: $switch-height * 2;
$switch-size: $switch-height - 4px;
$switch-font-size: $switch-height - 10px;
$switch-loading-size: $switch-size - 6px;

$upload-theme-color: $brand-info;
$upload-picture-size: 110px;
$upload-thumbnial-size: 48px;
$upload-picture-bg: #fafafa;
$upload-picture-gutter: 10px;
$upload-list-hover: $black-1;
$upload-text-color:$black-7;
$upload-hint-color:$black-5;

$switch-height-sm: 15px;
$switch-min-width-sm: $switch-height-sm * 2;
$switch-size-sm: $switch-height-sm - 4px;
$switch-loading-size-sm: $switch-size-sm - 3px;

$rate-font-size: 1.25rem;
$rate-color: $brand-alert;


//select
//
//select element config
$select-border-color : $input-border-color;
$select-border-focus: $brand-primary;
$select-bg-focus: $input-bg;
//select default size
$select-height: $input-height-base;
$select-font-size-base: $font-size-sm;
$select-padding-x: $input-padding-x;
$select-padding-y: $input-padding-y;

$select-height-lg: $btn-height-lg;
$select-font-size-lg: $input-font-size-lg;

$select-dropdown-item-selected: #fafafa;
$select-dropdown-item-hover: css-lightness( $select-dropdown-item-selected, -3% );

// Progress
//
//
$progress-height: 1rem;
$progress-font-size: $font-size-xs;
$progress-font-color: $brand-profit;
$progress-bg: $border-color;
$progress-border-radius: $border-radius;
$progress-box-shadow: inset 0 0.1rem 0.1rem rgba($black, 0.1);
$progress-bar-color: $white;
$progress-bar-bg: $brand-accent-1;

// Cards

$card-shadow: $component-shadow;
$card-padding: 24px;
$card-border-radius: $border-radius;
$card-border-color: $border-color;
$card-head-bg: $white;
$card-bg: $white;
$card-head-min-height: 48px;
$card-head-font-size: $font-size-base;
$card-head-color: $black-7;
$card-head-font-weight: 600;
$card-head-padding: 16px;
$card-head-bottom-border-style:1px solid $border-color;
$card-hover-shadow: 0 2px 8px rgba($black, 0.09);
$card-hover-border: $border-color;
$card-inner-head-padding: 12px;
$card-inner-head-bg:$black-1;
$card-inner-head-font-size:$font-size-base;
$card-action-bg:$black-2;
$card-img-overlay-padding: 1.25rem;
$card-meta-color:$black-3;
$card-extra-color:$body-color;
$card-extra-font-size:$font-size-base;

//card small
$card-head-min-height-sm:36px;
$card-padding-sm: $card-padding / 2 - 2;
$card-head-padding-sm: $card-head-padding / 2 - 2;
$card-head-font-size-sm: $font-size-base;


// List
//
//
$list-spacer-x: 1.5rem;
$list-spacer-y: 0.75rem;
$list-spacer-x-sm: 0.375rem;
$list-spacer-y-sm: 0.5rem;
$list-spacer-x-lg: 1.5rem;
$list-spacer-y-lg: 1rem;
$list-item-title-color: $black-5;
$list-item-title-hover: $brand-primary;
$list-header-background: $black-1;
$list-footer-background: $black-1;

// Timeline
//
//
$timeline-gutter: 1.25rem;
$timeline-line-color: #ececec;
$timeline-dot-size: 0.625rem;
$timeline-dot-bg: $white;

// Calendar
//
// Define Calendar Spacing
$calendar-date-x: 2rem;
$calendar-date-y: 2rem;
$calendar-date-line-height: 2rem - 0.125rem;

$full-calendar-border: $border-color;
$full-calendar-color: $body-color;
$full-calendar-value-size: 1.5rem;
$full-calendar-theme-color: $brand-primary;
$full-calendar-selected-bg: $black-1;

// Slider
//
// Define Slider Properties
$slider-height: 1rem;
$slider-gutter: 0.75rem 0.3125rem;
$slider-rail-bg: $black-2;
$slider-rail-height: 0.3125rem;
$slider-rail-radius: $border-radius-sm;
$slider-track-height: 0.3125rem - 0.0625rem;
$slider-theme-color: $brand-primary;
$slider-ticker-size: 0.875rem;
$slider-dot-size: 0.5rem;
$slider-ticker-top-adjust: -0.3125rem;
$slider-ticker-left-adjust: -0.4375rem;
$slider-hover-opacity: 0.8;
$slider-mark-position: -1.25rem;

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-bg: $white;
$dropdown-bg-hover: $black-1;
$dropdown-border-color: $border-color;
$dropdown-item-text: $black-4;
$dropdown-item-text-hover: $black-5;
$dropdown-padding-y: 0.5rem;
$dropdown-padding-x: 1.25rem;
$dropdown-margin: 0.625rem;
$dropdown-min-width: 10rem;
$dropdown-max-height: 15.625rem;
$dropdown-divider-height: $border-width;
$dropdown-divider-color: rgba($border-color, 1);

// Menu
//
//
$menu-divider-height: $border-width;
$menu-divider-color: rgba($white, .2);
$menu-item-height: 37px;
$menu-item-vertical-margin: 4px;
$menu-item-vertical-padding: 10px;
$menu-item-font-size: $font-size-sm;
// Define colors theme color for menu
$menu-dark-bg: transparent;
$menu-dark-bg-sub: transparent;
$menu-dark-text: $white;

// Collapse
//
//
$collapse-border: $border-color;
$collapse-bg: $black-2;
$collapse-header-spacing: 18px 25px;
$collapse-header-color: $body-color;
$collapse-content-spacing: 0 25px 20px;

// Tabs
//
$tabs-font-size: $font-size-sm !default;
$tabs-theme-color: $brand-theme;
$tabs-border: $border-color;
$tabs-gap: 1.25rem;
$tabs-arrow-color: $body-color;
$tabs-arrow-color-hover: $black-4;
$tabs-arrow-width: 2rem;
$tabs-toggler-padding-x: 1.25rem;
$tabs-toggler-padding-y: 0.75rem;
$tabs-toggler-sm: 0.8125rem;
$tabs-toggler-lg: 1rem;
$tabs-toggler-color: $body-color;
$tabs-card-toggler-bg: $black-5;

// Tabs Card
//
//
$tabs-card-head-background: $black-4;
$tabs-card-head-color: $black-6;
$tabs-card-height: 45px;
$tabs-card-active-color:#fff;
$tabs-card-active-background: $brand-primary;
$tabs-card-gutter: 6px;
$tabs-card-tab-active-border-top: 2px solid transparent;
$tabs-card-padding : 60px;
$tabs-card-border-radius : $border-radius;
$tabs-card-border: 0;

// Popover & Tooltips
//
//
$popover-placement-gutter: 0.625rem;
$tooltip-placement-gutter: 0.5rem;
$tooltip-bg:              $black-7;
$tooltip-color :          white;
$tooltip-size :           $font-size-base;
$tooltip-line-height:     $line-height-base ;
$tooltip-radius :         $border-radius;
$tooltip-shadow:          $component-shadow;
$tooltip-padding-x-y:     6px 12px;

// Modal
//
// Padding applied to the modal body
$modal-content-bg: $white;
$modal-content-shadow: $component-shadow;
$modal-header-padding: 1.6rem;
$modal-border-radius: $border-radius;
$modal-body-padding: 1.6rem;
$modal-footer-padding: 1rem;
$modal-top: 50px;
$modal-mask: rgba(0,0,0,.4);

// Avatar
//
// Define avatar size & default background
$avatar-bg: $black-3;
$avatar-size: 2.3rem;
$avatar-size-sm: 1.9rem;
$avatar-size-lg: 3.625rem;
$avatar-icon: 1.125rem;
$avatar-icon-sm: 0.875rem;
$avatar-icon-lg: 1.5rem;


// Loading
//
//
$loading-color: $brand-primary;

// Badge
//
// Define Badge size & colors
$badge-count-bg: #f5222d;
$badge-count-height: 1.25rem;
$badge-count-font-size: $font-size-base;
$badge-dot-size: 0.4375rem;
$badge-dot-processing-bg: $brand-info;

// Steps
//
// Define Steps theme colors
$step-theme-colors: $brand-accent-1;
$steps-border-color: $border-color;
$step-border: 0;

$steps-wait-color: $disabled-color;

$step-process-bg-color: $brand-theme;
$step-process-border-color: $brand-theme;
$step-process-title-color: $brand-theme;
$step-process-desc-color: $body-color;

$step-finish-border-color: $step-theme-colors;
$step-finish-bg-color: $step-theme-colors;
$step-finish-icon-color: $step-theme-colors;

$step-horizontal-title-size: 12px;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$zindex-default: 990;
$zindex-dropdown-backdrop: 990;
$zindex-navbar: 1000;
$zindex-dropdown: 1000;
$zindex-fixed: 1030;
$zindex-sticky: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;



// Breadcrumb
$breadcrumb-font-family: $font-family-base;
$breadcrumb-line-height: $line-height-base;
$breadcrumb-color: $body-color;
$breadcrumb-font-size: $font-size-sm;

// Drawer
$drawer-padding-y: 16px;
$drawer-padding-x: 24px;
$drawer-close-btn-size: 54px;

// Tag
$tag-font-family: $font-family-base;
$tag-font-size: $font-size-xs;
$tag-border-radius: $border-radius-sm;
$tag-padding-x: 6px;
$tag-padding-y: 2px;
$tag-line-height: $line-height-base;
$tag-gutter-size: 12px;




//Mobile Componenets
//$carousel
$m-carousel-font-size: $font-size-base;
$m-carousel-font-color: $white;
$m-carousel-background: $brand-theme;


//list
$m-list-header-font-size: $font-size-base;
$m-list-header-color: $body-color;
$m-list-item-padding: 15px;
$m-list-item-color: $black;
$m-list-item-font-size: $font-size-base;
$m-list-item-line-height: 1.5;
$m-list-item-extra-font-size: $font-size-sm;
$m-list-item-extra-color: $link-color;
$m-list-item-min-height: 60px;

$m-list-item-brief-color:$black-6;
$m-list-item-brief-font-size:  $font-size-sm;
$m-list-item-brief-line-height:  1.5;

$m-list-item-img-width: 24px;
$m-list-item-img-height: auto;
$m-list-box-shadow:  0 1px 5px 0px rgba(189,189,189,0.3);
$m-list-border-radius: $border-radius-lg;




//nav-bar

$m-navbar-height: 50px;
$m-navbar-color: $white;
$m-navbar-background-color: $brand-theme;
$m-navbar-link-button-font-size: $font-size-base;

$m-navbar-size: $font-size-base;
$m-navbar-font-weight: $font-weight-semibold;
$m-navbar-light-background-color: $white;
$m-navbar-light-color:$brand-primary;


//tabs

$m-tabs-color: $white;
$m-tabs-active-color: $white;
$m-tabs-height: 43.5px ;
$m-tabs-font-size-heading: $font-size-xs;
$m-tabs-ink-bar-height: $border-width;

//tabs bar
$m-tabs-bar-color: $brand-theme!default;

//picker
$m-picker-popup-item-color: $brand-primary;
$m-picker-popup-item-font-size: $font-size-sm;
$m-picker-option-height: 34px;
$m-picker-popup-item-height: 42px;
$m-picker-popup-title-color: #000;
$m-picker-popup-title-font-size:$font-size-sm;

//modal
$m-modal-btn-height: 50px;
$m-modal-btn-font-size: $font-size-base;

//calendar
$m-calendar-cell-size: 35px;

//description
$descriptions-font-size: $font-size-xs;
$descriptions-padding-base:12px 24px;
$descriptions-padding-sm: 4px 8px;