
/////////////////////
//////Options////
/////////////////////
$enable-flex: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-hover-media-query: false;
$enable-grid-classes: true;
$enable-print-styles: true;

$enable-card-radius : true;
$enable-card-shadow : true;
$enable-table-border : true;
$enable-radio-radius : true;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 920px,
  xl: 1200px
);

$grid-breakpoints: map-merge(
    $grid-breakpoints,
    (
      xxl: 1600px
    )
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1220px
);

$container-max-widths: map-merge(
    $container-max-widths,
    (
      xxl: 1520px
    )
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12;
$grid-gutter-width-base: 15px;
$grid-gutter-widths: (
  xs: $grid-gutter-width-base,
  sm: $grid-gutter-width-base,
  md: $grid-gutter-width-base,
  lg: $grid-gutter-width-base,
  xl: $grid-gutter-width-base
);
$grid-gutter-widths: map-merge(
    $grid-gutter-widths,
    (
      xxl: $grid-gutter-width-base
    )
);

// Spacing
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
    (
      0: 0,
      1: (
        $spacer * 0.25
      ),
      2: (
        $spacer * 0.65
      ),
      3: $spacer,
      4: (
        $spacer * 1.5
      ),
      5: (
        $spacer * 3
      ),
      6: (
        $spacer * 3.5
      )
    ),
    $spacers
);


/////////////////////
//////Brand color////
/////////////////////
$brand-theme:               #0F1E26;
$brand-primary:             #EF4233;

/////////////////////
//////Accent Color////
/////////////////////
$brand-success:             $brand-primary; //choose from brand-theme or brand-primary only
$brand-info:                #4894F4; //must be blue
$brand-alert:               #FF6600;
$brand-profit:              #00A651;
$brand-loss:                #e43b20;

$brand-accent-1:             #FFE926;
$brand-accent-2:             $white;

///Product color (fixed cannot be changed)
$brand-fund:            #B72e39;
$brand-stock:           #3F42B5;
$brand-bond:            #F5Ad00;
$brand-etf:             #61c1c5;
$brand-map:             #005071;
$brand-insurance:       #00cb6c;

///grayscale Neutral color
$black-8: #424b57;
$black-7: #555964;
$black-6: #7C818F;
$black-5: #E1E5E7;
$black-4: #ECEDF0;

$black-3: #F3FBFE;
$black-2: #F7F8F8;
$black-1: $black-4;

$black:#000;
$white:#FFFFFF;

// For backward compatibility (Dont use and manually remove when updated)
$gray-darkest: $black-7;
$gray-darker: $black-6;
$gray-dark: $black-5;
$gray: $black-4;
$gray-light: $black-3;
$gray-lighter: $black-2;
$gray-lightest: $black-1;

// Body
$body-bg: $gray;
$body-color: $black-8;

// Links
$link-color:                $brand-primary;
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     underline;
$link-active:              darken($link-color, 20%);

// Disabled Color
$disabled-color: $gray-darker;
$disabled-bg: $gray;

//Box shadow

$component-shadow: 0px 3px 10px 0 rgba(0,0,0,0.085) !important;
$component-active-color: lighten($brand-accent-1, 60);
$component-hover-color: lighten($brand-info, 51);

/////////////////////
//////Fonts////
/////////////////////


$font-family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$font-family-base: $font-family-sans-serif;
$font-family-heading: $font-family-sans-serif;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 500;
$font-weight-bold: bold;
$font-weight-base: $font-weight-normal;
$line-height-base: 1.25;


//all font size MUST use this 7 variables.
$font-size-base: 16px; // h5
$font-size-xxxl: $font-size-base + 20px; //36px
$font-size-xxl: $font-size-base + 12px; //28px h1
$font-size-xl: $font-size-base + 8px; //24px h2
$font-size-lg: $font-size-base + 4px; //20px h3
$font-size-md: $font-size-base + 2px; //18px h4
$font-size-sm: $font-size-base - 2px; //14px h6
$font-size-xs: $font-size-base - 4px; //12px small
$font-size-xxs: $font-size-base - 5.6px; //10.4px micro
//small
$font-size-sm-color : $body-color;
$font-size-sm-weight : $font-weight-normal;
//micro
$font-size-xs-color : $body-color;
$font-size-xs-weight : $font-weight-normal;

$display1-size: $font-size-xxxl;
$display2-size: 48px;
$display1-weight: $font-weight-light;
$display2-weight: $font-weight-light;
$display1-color:  $gray-darkest;
$display2-color : $gray-darkest;

$text-muted: $gray;

//heading, h1 to h6.

$heading-color-h1:   $black-8;
$heading-color-h2:   $black-8;
$heading-color-h3:   $black-8;
$heading-color-h4:   $black-8;
$heading-color-h5:   $black-8;
$heading-color-h6:   $black-8;

$heading-weight-h1: $font-weight-bold;
$heading-weight-h2: $font-weight-bold;
$heading-weight-h3: $font-weight-bold;
$heading-weight-h4: $font-weight-bold;
$heading-weight-h5: $font-weight-bold;
$heading-weight-h6: $font-weight-bold;

$heading-size-h1: $font-size-xxl;
$heading-size-h2: $font-size-xl;
$heading-size-h3: $font-size-lg;
$heading-size-h4: $font-size-md;
$heading-size-h5: $font-size-base;
$heading-size-h6: $font-size-sm;
//font-size: follow font-size base. cannot be changed. refer to _fonts.scss


// Border
//
// Define border properties
$border-color: $gray;
$border-radius: 6px;
$border-radius-lg: 18px;
$border-radius-sm: 4px;
$border-radius-xs: 0.188rem;
$border-radius-circle: 50%;
$border-width: 1px;


// Allows for customizing button radius independently from global border radius
$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;

$btn-transition: all 0.2s ease-in-out;
/////////////////////
//////Button////
/////////////////////
$btn-with-gradient:              false;
$btn-gradient-start-color:       $brand-primary;
$btn-gradient-end-color:         $brand-theme;

$btn-primary:                    $brand-primary;
$btn-highlight:                  $brand-theme;
$btn-font-size:                  $font-size-sm;
$btn-font-size-lg:               $font-size-base;
$btn-font-size-sm:               $font-size-sm;

$btn-line-height:                1.25;
$btn-font-weight:                $font-weight-semibold;
$btn-box-shadow:                 inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) ;
$btn-focus-box-shadow:           0 0 0 2px rgba($brand-primary, .25);
$btn-active-box-shadow:          inset 0 3px 5px rgba($black,.125);

$btn-primary-color:              $white;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             $btn-primary-bg;

$btn-primary-hover-bg:           darken($brand-primary, 15%);
$btn-primary-hover-border-color: darken($brand-primary, 15%);

$btn-default-color:              $body-color;
$btn-default-bg:                 transparent;
$btn-default-border:             $border-color;

$btn-disable-color:              $disabled-color;
$btn-disable-bg:                 $disabled-bg;
$btn-disable-border:             $border-color;
$btn-text-transform:             capitalize;

//////Button Size////
$btn-height-base:               32px;
$btn-line-height-base:          $btn-height-base - 2px;
$btn-height-lg:                 50px;
$btn-height-sm:                 32px;
$btn-height-highlight:          60px;

$btn-padding-base:              18px;
$btn-padding-lg:                40px;
$btn-padding-sm:                18px;
$btn-padding-highlight:         40px;

//////Button Link ////
$btn-link-color:                 $brand-primary;
$btn-link-disabled-color:        $black-3;
$btn-link-hover-bg:              lighten($brand-primary, 40%);
$btn-link-weight:                $btn-font-weight;

// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.



//header
$table-header-color :  $black-7;
$table-header-bg : $gray;
$table-header-border-bottom: 1px solid $border-color;
$table-header-font-weight: 600;
$table-header-icon-color: #fff;
$table-header-icon-selected-color:#ccc;
$table-header-filter-active-color:$black-5;
$table-header-sort-bg:$table-header-bg;
$table-header-sort-active-bg:darken($table-header-bg, 3%);
$table-header-filter-active-bg:darken($table-header-sort-active-bg, 5%);
$table-header-sort-active-color:$black-5;

//body
$table-color: $body-color;
$table-default-background:#fff;
$table-border-radius-base: 0;
$table-row-hover-bg : $black-1;
$table-selected-row-color :$black-4;
$table-selected-row-bg:$black-1;
$table-selected-row-hover-bg:$black-2;
$table-body-sort-bg :$black-2;
$table-body-selected-sort-bg: $black-2;
$table-row-expand-icon-size: 1.0625rem;

//padding
$table-padding-vertical : 18px;
$table-padding-horizontal: 16px;

//footer
$table-footer-color : $black-5;
$table-footer-bg:  $black-3;

//border
$border-width-base : 1px;
$border-style-base : solid;
$border-color-split: $black-5;

//size
$table-font-size: $font-size-sm;
$table-font-size-xs: $font-size-xs;
$table-font-size-sm: $font-size-sm;
$table-padding-vertical-md: $table-padding-vertical * 3 / 4;
$table-padding-horizontal-md: $table-padding-horizontal / 2;
$table-padding-vertical-sm: $table-padding-vertical / 1.6;
$table-padding-horizontal-sm: $table-padding-horizontal / 1.6;

// Form states and alerts
//
// Define colors for form feedback states and, by default, alerts.
$state-success-text: $brand-profit;
$state-success-bg: white;
$state-success-border: $border-color;

$state-info-text: $brand-info;
$state-info-bg: white;
$state-info-border: $border-color;

$state-warning-text: $brand-alert;
$state-warning-bg: white;
$mark-bg: $state-warning-bg;
$state-warning-border: $border-color;

$state-danger-text: $brand-loss;
$state-danger-bg: $white;
$state-danger-border: $border-color;

$alert-padding-x: 24px;
$alert-padding-y: 16px;
$alert-border-radius: $border-radius-sm;
$alert-text-color: $black-7;
$alert-shadow-color: rgba(0, 0, 0, 0.12);
$alert-icon-size: 24px;
$alert-padding-w-icon: $alert-icon-size + $alert-padding-x + 8px;
$alert-text-message-size: $font-size-sm;

$alert-loop: (
  ant-alert-success $state-success-bg $state-success-text $state-success-border,
  ant-alert-info $state-info-bg $state-info-text $state-info-border,
  ant-alert-warning $state-warning-bg $state-warning-text $state-warning-border,
  ant-alert-error $state-danger-bg $state-danger-text $state-danger-border
);

// Forms
//
// Form elements config
$input-line-height:     1.5;
$input-bg: $white;
$input-bg-disabled: $disabled-bg;
$input-color: $black-7;
$input-border-color: $border-color;
$input-btn-border-width: $border-width; // For form controls and buttons
$input-box-shadow: inset 0 1px 1px rgba($black, 0.075);
$input-bg-focus: $input-bg;
$input-border-focus: $brand-info;
$input-bg-placeholder: $white;
$input-box-shadow-focus: 0 0 0 2px rgba($input-border-focus, 0.6);
$input-color-focus: $input-color;
$input-color-placeholder: $black-6;
$input-error-color: $state-danger-text;
$input-warning-color: $state-warning-text;
$input-success-color: $state-success-text;

//input default
$input-padding-x: 12px;
$input-padding-y: 12px;
$input-font-size-base: $font-size-sm;
$input-height-base:   40px;
$input-border-radius: $border-radius-sm;
//input lg
$input-padding-x-lg: 20px;
$input-padding-y-lg: 10px;
$input-placeholder-lg-translateX: $input-padding-x-lg + 8px;
$input-font-size-lg:    $font-size-base;
$input-height-lg:       $btn-height-lg;
$input-border-radius-lg: $border-radius;

$form-default-font-size: $font-size-xs;

$textarea-min-height: 2rem; //32px

$checkbox-theme-color: $gray-darker;
$checkbox-width-height: 1rem;
$checkbox-line-height: 1;
$checkbox-top-adjust: -0.09em;
$checkbox-position-left: .18rem;
$checkbox-position-top: .4rem;
$checkbox-disable-bg: $black-5;

$radio-theme-color: $gray-darker;
$radio-width-height: 1.25rem;
$radio-gutter: 0.625rem;
$radio-dot-size: 0.625rem;
$radio-position-left: 0.1875rem;
$radio-position-top: 0.1875rem;
$radio-disable-bg: $black-5;
$radio-solid-bg: $gray;
$radio-solid-bg-hover: darken($radio-solid-bg, 10%);
$radio-solid-color: $gray-darkest;
$radio-border-color: transparent;
$radio-border-color-hover: transparent;
$radio-disabled-button-checked-bg: lighten($brand-info, 20%);

$switch-theme-color: $brand-primary;
$switch-height: 24px;
$switch-min-width: ($switch-height * 2)-3;
$switch-size: $switch-height - 4px;
$switch-font-size: $switch-height - 10px;
$switch-loading-size: $switch-size - 6px;

$upload-theme-color: $brand-info;
$upload-picture-size: 110px;
$upload-thumbnial-size: 48px;
$upload-picture-bg: #fafafa;
$upload-picture-gutter: 10px;
$upload-list-hover: $black-1;

$switch-height-sm: 15px;
$switch-min-width-sm: $switch-height-sm * 2;
$switch-size-sm: $switch-height-sm - 4px;
$switch-loading-size-sm: $switch-size-sm - 3px;

$rate-font-size: 1.25rem;
$rate-color: $brand-accent-1;


//select
//
//select element config
$select-border-color : $input-border-color;
$select-border-focus: $brand-info;
$select-bg-focus: $input-bg;
//select default size
$select-height: $input-height-base;
$select-font-size-base: $input-font-size-base;
$select-padding-x: $input-padding-x;
$select-padding-y: $input-padding-y;

$select-height-lg: $btn-height-lg;
$select-font-size-lg: $input-font-size-lg;

$select-dropdown-item-selected: $black-6 !important;
$select-dropdown-item-hover: lighten( $black-6, 15% );

// Progress
//
//
$progress-height: 1rem;
$progress-font-size: 0.75rem;
$progress-font-color: $body-color;
$progress-bg: $black-2;
$progress-border-radius: $border-radius-sm;
$progress-box-shadow: inset 0 0.1rem 0.1rem rgba($black, 0.1);
$progress-bar-color: $white;
$progress-bar-bg: $brand-primary;

// Cards
$card-margin-bottom: 12px;
$card-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
$card-padding: 20px;
$card-border-radius: $border-radius-sm;
$card-border-color: $border-color;
$card-head-bg: $white;
$card-bg: $white;
$card-head-min-height: 48px;
$card-head-font-size: $font-size-base;
$card-head-color: $black-6;
$card-head-font-weight: 500;
$card-head-padding: 16px;
$card-head-bg: transparent;
$card-head-bottom-border-style: 1px solid $border-color;
$card-hover-shadow: none; //0 2px 8px rgba($black, 0.09)
$card-hover-border: $brand-primary;
$card-inner-head-padding: 12px;
$card-inner-head-bg: $black-1;
$card-inner-head-font-size: $font-size-base;
$card-action-bg: $black-2;
$card-img-overlay-padding: 1.25rem;
$card-meta-color: $black-3;
$card-extra-color: $body-color;
$card-extra-font-size: $font-size-base;

//card small
$card-head-min-height-sm: 36px;
$card-padding-sm: 16px;
$card-head-padding-sm: 16px;
$card-head-font-size-sm: $font-size-base;

// List
//
//
$list-spacer-x: 1.5rem;
$list-spacer-y: 0.75rem;
$list-spacer-x-sm: 1rem;
$list-spacer-y-sm: 0.5rem;
$list-spacer-x-lg: 1.5rem;
$list-spacer-y-lg: 1rem;
$list-item-title-color: $black-5;
$list-item-title-hover: $brand-primary;
$list-header-background: $black-1;
$list-footer-background: $black-1;

// Timeline
//
//
$timeline-gutter: 1.25rem;
$timeline-line-color: #ececec;
$timeline-dot-size: 0.625rem;
$timeline-dot-bg: $white;

// Calendar
//
// Define Calendar Spacing
$calendar-date-x: 2rem;
$calendar-date-y: 2rem;
$calendar-date-line-height: 2rem - 0.125rem;

$full-calendar-border: $border-color;
$full-calendar-color: $body-color;
$full-calendar-value-size: 1.5rem;
$full-calendar-theme-color: $brand-primary;
$full-calendar-selected-bg: $black-1;

// Slider
//
// Define Slider Properties
$slider-height: 0.75rem;
$slider-gutter: 0.9375rem 0.3125rem;
$slider-rail-bg: $black-2;
$slider-rail-height: 0.3125rem;
$slider-rail-radius: $border-radius-sm;
$slider-track-height: 0.3125rem - 0.0625rem;
$slider-theme-color: $brand-primary;
$slider-ticker-size: 1.125rem;
$slider-dot-size: 0.5rem;
$slider-ticker-top-adjust: -0.4375rem;
$slider-ticker-left-adjust: -0.4375rem;
$slider-hover-opacity: 0.8;

// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-bg: $white;
$dropdown-bg-hover: $black-1;
$dropdown-border-color: $border-color;
$dropdown-item-text: $black-4;
$dropdown-item-text-hover: $black-5;
$dropdown-padding-y: 0.5rem;
$dropdown-padding-x: 1.25rem;
$dropdown-margin: 0.625rem;
$dropdown-min-width: 10rem;
$dropdown-max-height: 15.625rem;

// Menu
//
// Define colors theme color for menu
$menu-item-height: 40px;
$menu-dark-bg: #233547;
$menu-dark-bg-sub: #4f535d;
$menu-dark-text: $white;

// Collapse
//
//
$collapse-border: $border-color;
$collapse-bg: #fafafa;
$collapse-header-spacing: 20px 25px;
$collapse-header-color: $body-color;
$collapse-content-spacing: 1rem;

// Tabs
//
//
$tabs-theme-color: $brand-theme;
$tabs-border: $border-color;
$tabs-gap: 1.25rem;
$tabs-border-width: $border-width*1.7647;
$tabs-arrow-color: $body-color;
$tabs-arrow-color-hover: $gray-dark;
$tabs-arrow-width: 2rem;
$tabs-toggler-padding-x: 1.25rem;
$tabs-toggler-padding-y: 0.75rem;
$tabs-toggler-sm: 0.8125rem;
$tabs-toggler-lg: 1rem;
$tabs-toggler-color: $body-color;
$tabs-card-toggler-bg: $black-1;
$tabs-active-font-weight: $font-weight-bold;


// Tabs Card
//
//
$tabs-card-head-background: $black-2;
$tabs-card-head-color: $black-1;
$tabs-card-height: 40px;
$tabs-card-active-color:#fff;
$tabs-card-active-background:$brand-primary;
$tabs-card-gutter: 2px;
$tabs-card-tab-active-border-top: 2px solid transparent;
$tabs-card-padding : 16px;
$tabs-card-border-radius : $border-radius-sm;

// Popover & Tooltips
//
//
$popover-placement-gutter: 0.625rem;
$tooltip-placement-gutter: 0.5rem;
$tooltip-bg:              $black-7;
$tooltip-color :          white;
$tooltip-size :           $font-size-base;
$tooltip-line-height:     $line-height-base ;
$tooltip-radius :         $border-radius-sm;
$tooltip-shadow:          0 3px 8px rgba($black-5, 0.15);
$tooltip-padding-x-y:     6px 12px;

// Modal
//
// Padding applied to the modal body
$modal-title-font-size:   $font-size-xl;
$modal-title-font-weight: $font-weight-semibold;
$modal-font-size:         $font-size-base;
$modal-content-bg:        $white;
$modal-content-shadow:    0 4px 12px rgba($black, 0.15);
$modal-header-padding:    24px 24px 6px;
$modal-border-radius:     $border-radius-sm;
$modal-body-padding:      20px 24px 16px;
$modal-footer-padding:    24px 24px 24px;
$modal-top:               50% !important;


// Avatar
//
// Define avatar size & default background
$avatar-bg: #ccc;
$avatar-size: 2.3rem;
$avatar-size-sm: 1.5rem;
$avatar-size-lg: 3.625rem;
$avatar-icon: 1.125rem;
$avatar-icon-sm: 0.875rem;
$avatar-icon-lg: 1.5rem;


// Loading
//
//
$loading-color: $brand-primary;

// Badge
//
// Define Badge size & colors
$badge-count-bg: #f5222d;
$badge-count-height: 1.25rem;
$badge-count-font-size: $font-size-base;
$badge-dot-size: 0.4375rem;
$badge-dot-processing-bg: $brand-info;

// Steps
//
// Define Steps theme colors
$step-theme-colors: $brand-primary;

$steps-border-color: $black-5;
$step-border: 1px solid inherit;
$steps-tail-color: $black-5;
$step-verticle-title-size: 16px;
$step-verticle-title-weight: 500;
$step-horizontal-title-size: 16px;
$step-horizontal-title-weight: 500;
$steps-icon-size: 32px;
$steps-icon-font-size: $font-size-base;

$steps-wait-color: $body-color;
$step-wait-title-color: $steps-wait-color;
$step-wait-desc-color: $steps-wait-color;
$step-wait-dot-color: rgba(0, 0, 0, 0.25);

$step-process-bg-color: $step-theme-colors;
$step-process-border-color: $steps-border-color;
$step-process-title-color: $step-theme-colors;
$step-process-title-font-weight: $font-weight-normal;
$step-process-desc-color: $body-color;

$step-finish-bg-color: transparent;
$step-finish-border-color: $step-theme-colors;
$step-finish-title-color: $step-theme-colors;
$step-finish-desc-color: $step-theme-colors;
$step-finish-icon-color: $step-theme-colors;

// Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
$zindex-default: 990;
$zindex-dropdown-backdrop: 990;
$zindex-navbar: 1000;
$zindex-dropdown: 1000;
$zindex-fixed: 1030;
$zindex-sticky: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;


//Breadcrumb

$breadcrumb-font-family: $font-family-base;
$breadcrumb-line-height: $line-height-base;
$breadcrumb-color: $body-color;
$breadcrumb-font-size: $font-size-xs;

//Breadcrumb
$drawer-padding-y: 10px;
$drawer-padding-x: 10px;

// Tag
$tag-font-family: $font-family-base;
$tag-font-size: $font-size-sm - 1px;
$tag-border-radius: $border-radius-sm;
$tag-padding-x: 7px;
$tag-padding-y: 0;
$tag-line-height: $line-height-base;
$tag-gutter-size: 8px;

//Pagination
$pagination-item-bg-active: $brand-primary;
$pagination-item-color-active: $white;


//MOBILE VARIABLE


$m-fill-mask :rgba(0, 0, 0, 0.4);
$m-fill-base: white;
$m-fill-tap: $border-color;
// 图标尺寸
// ---
$m-icon-size-xxs: 15px;
$m-icon-size-xs: 18px;
$m-icon-size-sm: 21px;
$m-icon-size-md: 22px;   // 导航条上的图标、grid的图标大小
$m-icon-size-lg: 36px;
// 间距
// ---
// 水平间距
$m-h-spacing-sm: 5px;
$m-h-spacing-md: 8px;
$m-h-spacing-lg: 15px;

// 垂直间距
$m-v-spacing-xs: 3px;
$m-v-spacing-sm: 6px;
$m-v-spacing-md: 9px;
$m-v-spacing-lg: 15px;
$m-v-spacing-xl: 21px;

$m-radius-circle: 50%;
$m-hairline-color: $border-color;
$m-color-icon-base: $black-2;
//delete thi file and move to _variables.scss after done developing


//Mobile Componenets
//$carousel
$m-carousel-font-size: $font-size-base;
$m-carousel-font-color: $white;
$m-carousel-background: $brand-theme;


//list
$m-list-header-font-size: $font-size-base;
$m-list-header-color: $body-color;
$m-list-item-padding: 15px;
$m-list-item-color: $black;
$m-list-item-font-size: $font-size-base;
$m-list-item-line-height: 1.5;
$m-list-item-extra-font-size: $font-size-sm;
$m-list-item-extra-color: $link-color;
$m-list-item-min-height: 60px;

$m-list-item-brief-color:$black-6;
$m-list-item-brief-font-size:  $font-size-sm;
$m-list-item-brief-line-height:  1.5;

$m-list-item-img-width: 24px;
$m-list-item-img-height: auto;
$m-list-box-shadow:  0 1px 5px 0px rgba(189,189,189,0.3);
$m-list-border-radius: $border-radius;




//nav-bar

$m-navbar-height: 50px;
$m-navbar-color:white;
$m-navbar-background-color: $brand-theme;
$m-navbar-link-button-font-size: $font-size-base;

$m-navbar-size: $font-size-md;
$m-navbar-light-background-color: $white;
$m-navbar-light-color:$brand-primary;


//tabs

$m-tabs-color: $brand-primary;
$m-tabs-height: 43.5px ;
$m-tabs-font-size-heading: 15px;
$m-tabs-ink-bar-height: $border-width;


//action sheet
$m-actionsheet-heading-font-size: $font-size-lg;
$m-actionsheet-message-font-size: $font-size-base;
$m-actionsheet-message-color: $black-4;
$m-actionsheet-background-color: #fff;
$m-actionsheet-space: 15px;
$m-actionsheet-item-height: 50px;
$m-actionsheet-item-font-size: 18px;

//picker

$m-picker-popup-item-color: $brand-primary;
$m-picker-popup-item-font-size: $font-size-sm;
$m-picker-option-height: 42px;

$m-picker-popup-title-color: #000;
$m-picker-popup-title-font-size:$font-size-sm;

//all mobile font size MUST use this 7 variables.
$m-font-size-xxl: $font-size-xl;
$m-font-size-xl: $font-size-lg;
$m-font-size-lg: $font-size-md;
$m-font-size-md: $font-size-base;
$m-font-size-base: $font-size-sm;
$m-font-size-sm: $font-size-xs;
$m-font-size-xs: $font-size-xs;

$m-heading-size-h1: $font-size-xl;
$m-heading-size-h2: $font-size-lg;
$m-heading-size-h3: $font-size-md;
$m-heading-size-h4: $font-size-base;
$m-heading-size-h5: $font-size-sm;
$m-heading-size-h6: $font-size-xs;