.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: -0.175em;
  text-align: center;
  text-transform: none;
  line-height: inherit;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}