.ant-skeleton-header {
    padding-right: 0px;
    
    .ant-skeleton-avatar {
        margin-right: 15px;
    }
}

.ant-skeleton-content {

    .ant-skeleton-paragraph {
        padding-left: 0px;
    }
}

.ant-skeleton-active {

    .ant-skeleton-avatar {
        margin-right: 15px;
    }
}